# Configuración de credenciales para el acceso a las bases de datos
# Copia este archivo como .env y completa con tus credenciales

# Credenciales de Google para acceso a IEEE y Sage
EMAIL_USER=tu_email@ejemplo.com
EMAIL_PASSWORD=tu_contraseña_de_aplicacion
